<% var pitches = ["G", "G\u266F/A\u266D", "A", "A\u266F/B\u266D", "B", "C", "C\u266F/D\u266D", "D", "D\u266F/E\u266D", "E", "F", "F\u266F/G\u266D"]; %>
<% for (var j = 24; j >= 0; j--) { %>
  <div class="">
    <% for (var i = 1; i <= 18; i++) { %>
    <% var xBin = i % 2 == 0 ? "even" : "odd"; %>
    <% var jMod = j % 12 %>
    <% var yBin = (jMod == 1 || jMod == 3 || jMod == 6 || jMod == 8 || jMod == 11) ? "black" : "white"; %>
    <a data-x="<%= i %>" data-y="<%= j %>" class="btn cell cell-x-<%= i %> cell-<%= xBin %>-<%= yBin %> <%= jMod == 5 ? "cell-C" : "" %> <%= i % 6 == 0 ? "cell-bar-start" : "" %> <%=(typeof activePitches != "undefined" && activePitches[i - 1] == j ? "active" : "") %>"></a>
    <% } %>
    <%= pitches[j % 12] %>
  </div>
<% } %>