<% var pitches = ["A", "A\u266F/B\u266D", "B", "C", "C\u266F/D\u266D", "D", "D\u266F/E\u266D", "E", "F", "F\u266F/G\u266D", "G", "G\u266F/A\u266D"]; %>
<% var chords = ["major", "minor", "augmented", "diminished"]; %>
<% var signatures = ["D\u266D or B\u266Dm", "A\u266D or Fm", "E\u266D or Cm", "B\u266D or Gm", "F or Dm", "C or Am", "G or Em", "D or Bm", "A or F\u266Fm", "E or C\u266Fm", "B or G\u266Fm", "G\u266D or E\u266Dm"] %>

<div class="">
  <select class="select-signature" <%=(typeof signature != "undefined" ? "disabled" : "") %>>
    <% for (var j = 0; j < 12; j++) { %>
    <!-- key signature is at index 0 -->
    <option <%=((typeof signature == "undefined" && j == 5) || (typeof signature != "undefined" && signature == j) ? "selected" : "") %> value="<%= j %>"><%= signatures[j] %></option>
    <% } %>
  </select>
</div>

<div class="meter-symbol-space">&nbsp;</div>
<% for (var i = 0; i < 3; i++) { %>
  <div class="chord-select %>">

      <!-- dropdown to select chord root -->
    <select class="select-key-<%= i %>" <%=(typeof keys != "undefined" ? "disabled" : "") %> data-key="<%= i %>">
      <% for (var j = -1; j < 12; j++) { %>
      <!-- chord root is at indices 1, 3, 5 -->
      <option <%=(typeof keys != "undefined" && keys[i] == j ? "selected" : "") %> value="<%= j %>"><%= j == -1 ? "(chord root)" : pitches[(j + 3) % 12] %></option>
      <% } %>
    </select>

      <!-- dropdown to select chord type -->
    <select class="select-chord-<%= i %>" <%=(typeof activeChords != "undefined" ? "disabled" : "") %> data-chord="<%= i %>">
      <% for (var j = -1; j < 4; j++) { %>
        <option <%=(typeof activeChords != "undefined" && activeChords[i] == j ? "selected" : "") %> value="<%= j %>"><%= j == -1 ? "(chord type)" : chords[j] %></option>
      <% } %>
    </select>
  </div>
<% } %>
<hr>

  <!-- grid interface -->
<% for (var j = 25; j >= 0; j--) { %>
  <div class="row">
    <% if (j == 25) { %>
      <div class="chord-symbol"></div>
    <% } else { %>
      <div class="chord-symbol left"><%= pitches[j % 12] %></div>
    <% } %>
      <% for (var i = 1; i <= 18; i++) { %>
        <% if (j == 25) { %>
          <div class="meter-symbol <%= i != 18 && i % 6 == 0 ? "margin-right" : "" %>"><%= ((i - 1) % 3) == 0 ? ((i - 1) % 6 == 0 ? "one" : "two") : ((i - 1) % 3) + 1 %></div>
        <% } else { %>
        <% var xBin = i % 2 == 0 ? "even" : "odd"; %>
        <% var jMod = j % 12 %>
        <% var yBin = (jMod == 1 || jMod == 4 || jMod == 6 || jMod == 9 || jMod == 11) ? "black" : "white"; %>
        <a data-x="<%= i %>" data-y="<%= j %>" class="btn cell cell-x-<%= i %> cell-<%= xBin %>-<%= yBin %> <%= jMod == 3 ? "margin-bottom" : "" %> <%= i != 18 && i % 6 == 0 ? "margin-right" : "" %> <%=(typeof activePitches != "undefined" && activePitches[i - 1] == j ? "active" : "") %> <%=(typeof activePitches != "undefined" ? "locked" : "") %>"></a>
      <% } %>
    <% } %>
    <% if (j == 25) { %>
      <div class="chord-symbol"></div>
    <% } else { %>
      <div class="chord-symbol right"><%= pitches[j % 12] %></div>
    <% } %>
  </div>
<% } %>