<% include ../partials/header %>
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Quick Guide</h1>
    <h2>How to Get Started</h2>
    <p>
      We start with a three-bar staff in 6/8 meter. Across the first barline, the harmony informs the melody, while across the second barline, the melody informs the harmony.
    </p>
    <ol>
    <% for (var i = 0; i < 5; i++) { %>
      <li><%= instructionArray[i] %></li>

      <div id="howto-abc-<%= i %>" class="abc-index"></div>
      <script type="text/javascript">
        ABCJS.renderAbc('howto-abc-<%= i %>', '<%= abcArray[i] %>'.replace(/&#34;/g, '\"'), {}, {staffwidth: 475, add_classes: true}, {});
      </script>

      <button data-id='<%= dataIdArray[i] %>' class="playback-button btn btn-primary play"><i class="glyphicon glyphicon-play"></i></button>
    <% } %>
    </ol>

    <p>That's it! You now have thematic material by which to flesh out your composition.</p>
    <h2>Guiding Principles</h2>

    <p>
      While there are no hard and fast rules, interesting melodies typically share similar traits, so here are some useful tips to keep in mind.
    </p>

    <ul>
    <% for (var i = 5; i < 12; i++) { %>
      <% if (i == 6 || i == 9) { %>
        <%= instructionArray[i] %>
      <% } else { %>
      <li><%= instructionArray[i] %></li>
      <% } %>

      <div id="howto-abc-<%= i %>" class="abc-index"></div>
      <script type="text/javascript">
        ABCJS.renderAbc('howto-abc-<%= i %>', '<%= abcArray[i] %>'.replace(/&#34;/g, '\"'), {}, {staffwidth: 475, add_classes: true}, {});
      </script>

      <button data-id='<%= dataIdArray[i] %>' class="playback-button btn btn-primary play"><i class="glyphicon glyphicon-play"></i></button>
    <% } %>
    </ul>

    <p>For further guidance along with a detailed lesson plan, you can download my book <i>The Bobtail Method for Composing Unique Pop Melodies</i>, originally published in 2008 and now available as a <a href="http://bobtailyearlings.com/bobtail_method.pdf">free pdf</a>.</p>
  </div>

<% include ../partials/footer %>