<% include ../partials/header %>

  <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 staff-container">
    <h1>Latest compositions</h1>
    <table class="table">

      <tbody>
      <% compositions.forEach(function(composition) { %>
        <tr>
          <%/* Facebook profile icon */%>
          <% if (composition.picUrl) { %>
            <td><div class="avatar"><img src="<%= composition.picUrl %>" class="avatar-image"></div></td>
          <% } else { %>
            <td></td>
          <% } %>

          <td><a href="/users/<%= composition.userId %>"><%= composition.composerName %></a><br>
          <a href="/compositions/<%= composition.id %>"><%= composition.title != null && composition.title.length > 0 ? composition.title : "Composition " + composition.id %></a></td>
          <td><button data-id="<%= composition.melody %>" class="playback-button play btn btn-primary"><i class="glyphicon glyphicon-play"></i></button></td>
        </tr>

        <tr>
          <td colspan="3" class="staff-table-row">
            <% include ../partials/staff_index %>
          </td>
        </tr>

      <% }) %>
      </tbody>
    </table>
  </div>
<% include ../partials/footer %>