<% include ../partials/header %>

  <div class="col-sm-6 col-sm-offset-3">
    <h1>Latest compositions</h1>
    <table class="table">
      <thead>
          <th>Avatar</th>
          <th>Composer name</th>
          <th>Melody String</th>
          <th>Playback</th>
        </tr>
      </thead>
      <tbody>
      <% compositions.forEach(function(composition) { %>
        <tr>
          <td colspan="4">
            <div id="abc-<%= composition.id %>" class="abc"></div>
            <script type="text/javascript">
              var string = '%%staffwidth 400\n%%editable false\nX:1\nM: 6/8\nL: 1/8\nK: Emin\n"C" \^A,2B z3|"A\u266d" =e2_E GE2|"F\u266fm" F^FG A3|]\n';
              ABCJS.renderAbc('abc-<%= composition.id %>', string);
            </script>
          </td>
        </tr>
        <tr>
          <% if (composition.picUrl) { %>
            <td><div class="avatar"><img src="<%= composition.picUrl %>" class="avatar-image"></div></td>
          <% } else { %>
            <td></td>
          <% } %>
          <td><a href="/users/<%= composition.userId %>"><%= composition.composerName %></a></td>
          <td><a href="/compositions/<%= composition.id %>"><%= composition.melody %></a></td>
          <td><button data-id="<%= composition.melody %>" class="playback-button play btn btn-primary"><i class="glyphicon glyphicon-play"></i></button></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
<% include ../partials/footer %>