<% include ../partials/header %>

<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 staff-container">
  <% if (user.picUrl) { %>
    <div class="avatar margin-right"><img src="<%= user.picUrl %>" class="avatar-image"></div>
  <% } %>
  <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
    <h1>My compositions</h1>
  <% } else { %>
    <h1><%= user.firstname %>'s compositions</h1>
  <% } %>
  <table class="table">
    <tbody>
    <% user.compositions.forEach(function(composition) { %>
      <span class="staff-row-group">
        <tr>
          <td><a href="/compositions/<%= composition.id %>"><%= composition.title != null && composition.title.length > 0 ? composition.title : "Composition " + composition.id %></a></td>

          <td><button data-id="<%= composition.melody %>" class="playback-button play btn btn-primary"><i class="glyphicon glyphicon-play"></i></button></td>

          <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
            <td><button data-id="/compositions/<%= composition.id %>" class="delete-button btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button></td>
          <% } %>
        </tr>

        <tr>
          <td colspan="3" class="staff-table-row">
            <% include ../partials/staff_index %>
          </td>
        </tr>
      </span>

    <% }) %>
    </tbody>
  </table>
</div>
<% include ../partials/footer %>