<% include ../partials/header %>

<div class="col-sm-6 col-sm-offset-3">
  <% if (user.picUrl) { %>
    <div class="avatar margin-right"><img src="<%= user.picUrl %>" class="avatar-image"></div>
  <% } %>
  <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
    <h1><%= user.name %>'s compositions (you)</h1>
  <% } else { %>
    <h1><%= user.name %>'s compositions</h1>
  <% } %>
  <table class="table table-hover">
    <thead>
        <th>Playback</th>
        <th>Melody String</th>
        <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
          <th>Delete </th>
        <% } %>
      </tr>
    </thead>
    <tbody>
    <% user.compositions.forEach(function(composition) { %>
      <tr>
        <td><button data-id="<%= composition.melody %>" class="playback-button play btn btn-primary"><i class="glyphicon glyphicon-play"></i></button></td>
        <td><a href="/compositions/<%= composition.id %>"><%= composition.melody %></a></td>
        <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
          <td><button data-id="/compositions/<%= composition.id %>" class="delete-button btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button></td>
        <% } %>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>

<% include ../partials/footer %>