<% include ../partials/header %>

<div class="col-sm-6 col-sm-offset-3">

  <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
  <h1><%= user.firstname + " " + user.lastname %>'s Friends (you)</h1>
  <% } else { %>
  <h1><%= user.firstname + " " + user.lastname %>'s Friends</h1>
  <% } %>

  <table class="table table-hover">
    <thead>
        <th>Friend avatar</th>
        <th>Friend name</th>
        <th>Friend compositions</th>
      </tr>
    </thead>
    <tbody>
    <% user.friends.forEach(function(friend) { %>
        <tr>
          <% if (friend.picUrl) { %>
            <td><div class="avatar"><img src="<%= friend.picUrl %>" class="avatar-image"></div></td>
          <% } else { %>
            <td></td>
          <% } %>

          <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == friend.email) { %>
            <td><a href="/users/<%= friend.id %>"><%= friend.firstname + " " + friend.lastname %></a> (you)</td>
          <% } else { %>
            <td><a href="/users/<%= friend.id %>"><%= friend.firstname + " " + friend.lastname %></a></td>
          <% } %>
          <td><a href="/users/compositions/<%= friend.id %>"><%= friend.firstname %>'s compositions</a></td>
        </tr>
    <% }) %>
    </tbody>
  </table>
</div>

<% include ../partials/footer %>