<% include ../partials/header %>

<div class="col-sm-6 col-sm-offset-3">

  <h1>All the users (admin only)</h1>
  <table class="table table-hover">
    <thead>
        <th>User avatar</th>
        <th>User name</th>
        <th>User compositions</th>
      </tr>
    </thead>
    <tbody>
    <% users.forEach(function(user) { %>
        <tr>
          <% if (user.picUrl) { %>
            <td><div class="avatar"><img src="<%= user.picUrl %>" class="avatar-image"></div></td>
          <% } else { %>
            <td></td>
          <% } %>

          <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
            <td><a href="/users/<%= user.id %>"><%= user.firstname + " " + user.lastname %></a> (you)</td>
          <% } else { %>
            <td><a href="/users/<%= user.id %>"><%= user.firstname + " " + user.lastname %></a></td>
          <% } %>
          <td><a href="/users/compositions/<%= user.id %>"><%= user.firstname %>'s compositions</a></td>
        </tr>
    <% }) %>
    </tbody>
  </table>
</div>

<% include ../partials/footer %>