<% include ../partials/header %>

  <div class="col-sm-6 col-sm-offset-3">
    <% if (user.picUrl) { %>
      <li class="list-group-item"><div><img src="<%= user.picUrl %>" class="avatar-image"></div></li>
    <% } %>

    <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
      <h1>About <%= user.name %> (you)</h1>
    <% } else { %>
      <h1>About <%= user.name %></h1>
    <% } %>

    <ul class="list-group">
      <li class="list-group-item"><%= user.name %></li>
      <li class="list-group-item"><a href="/users/compositions/<%= user.id %>"><%= user.name %>'s compositions</a></li>

      <% if (typeof loggedInUser != 'undefined' && loggedInUser.email == user.email) { %>
        <li class="list-group-item"><%= user.email %> (only visible to you)</li>
      <% } %>

    </ul>
  </div>

<% include ../partials/footer %>