<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Compositions index page</h1>
      <table class="table table-hover">
        <thead>
            <th>Composer name</th>
            <th>Melody (temp)</th>
            <th>Harmony (temp)</th>
            <th>Playback</th>
          </tr>
        </thead>
        <tbody>
        <% compositions.forEach(function(composition) { %>
          <tr>
            <td><a href="/users/<%= composition.userId %>"><%= composition.composerName %></a></td>
            <td><a href="/compositions/<%= composition.id %>"><%= composition.melody %></a></td>
            <td><%= composition.harmony %></td>
            <td><a href="" data-id="<%= composition.melody %>" class="music-button btn btn-warning btn-xs"><i class="glyphicon glyphicon-music"></i></a></td>
          </tr>
        <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include ../partials/footer %>