// <% include ../partials/header %>

//   <div class="col-sm-6 col-sm-offset-3">
//     <h1>All the compositions (admin only)</h1>
//     <table class="table table-hover">
//       <thead>
//           <th>Avatar</th>
//           <th>Composer name</th>
//           <th>Melody String</th>
//           <th>Playback</th>
//         </tr>
//       </thead>
//       <tbody>
//       <% compositions.forEach(function(composition) { %>
//         <tr>
//           <td colspan="4">
//             <% include ../partials/staff %>
//           </td>
//         </tr>
//         <tr>
//           <% if (composition.picUrl) { %>
//             <td><div class="avatar"><img src="<%= composition.picUrl %>" class="avatar-image"></div></td>
//           <% } else { %>
//             <td></td>
//           <% } %>
//           <td><a href="/users/<%= composition.userId %>"><%= composition.composerName %></a></td>
//           <td><a href="/compositions/<%= composition.id %>"><%= composition.melody %></a></td>
//           <td><button data-id="<%= composition.melody %>" class="playback-button play btn btn-primary"><i class="glyphicon glyphicon-play"></i></button></td>
//         </tr>
//       <% }) %>
//       </tbody>
//     </table>
//   </div>

// <% include ../partials/footer %>