<% include ../partials/header %>

  <div class="col-sm-8 col-sm-offset-2">
    <% if (composition.picUrl) { %>
      <div class="avatar margin-right"><img src="<%= composition.picUrl %>" class="avatar-image"></div>
    <% } %>
    <h1><%= composition.composerName %>'s composition</h1>
    <% include ../partials/staff %>
    <% include ../partials/grid %>
  </div>
  <div class="col-sm-2">
    <% include ../partials/sidebar %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Critiques</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Critic</th>
          <th>Comment</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% composition.critiques.forEach(function(critique) { %>
        <tr>
          <% if (critique.picUrl) { %>
          <td><div class="avatar"><img class="avatar-image thumbnail-avatar" src="<%= critique.picUrl %>"></div></td>
          <% } else { %>
          <td></td>
          <% } %>
          <td><a href="/users/<%= critique.userId %>"><%= critique.criticName %></a></td>
          <td><%= critique.comment %></td>
          <td><%= critique.createdAt %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% if (typeof loggedInUser != 'undefined' && loggedInUser) { %>
    <form class="form" action="/critiques" method="POST">
      <div class="form-group col-sm-4">
        <input type="text" class="form-control" name="comment" placeholder="Add a comment">
        <input type="hidden" name="id" value="<%= composition.id %>">
      </div>
      <div class="form-group col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <% } %>
  </div>
</div>
</div>

<% include ../partials/footer %>